/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {































}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {


.specific-section {
    padding: 20px 0px;
}




























}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	



























}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {



.icon-image img {
    padding: 0px 0px;
    margin-top: 30px;
}

.header-text {
    padding: 20px 0px;
}


.specific-section {
    padding: 15px 0px;
}


.icon-section {
    padding: 0px 0px;
}














}